<!-- List -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between pb-0 px-3">
          <div>
            <h6 class="mb-0 font-weight-bold">Burhanudin Abdul</h6>
          </div>
          <div class="bg-primary p-3 d-flex text-center btn btn-rounded">
            <a class="d-flex align-items-end nav-link" href="/hostels/add">
              <div class="icon p-0">
                <i class="fas fa-plus text-white"></i>
              </div>
              <div class="p-0">
                <span class="ms-1 text-white">Tambah Hostel</span>
              </div>
            </a>
          </div>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            <li class="list-group-item border-0 p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex justify-content-between flex-md-row flex-column">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm font-weight-bold">Tentang</h6>
                  <span class="mb-2 text-xs"
                    >Nama User: <span class="text-dark font-weight-bold ms-sm-2">Burhanudin Abdul</span></span
                  >
                  <span class="mb-2 text-xs"
                    >Email Address: <span class="text-dark ms-sm-2 font-weight-bold">oliver@burrito.com</span></span
                  >
                  <span class="mb-2 text-xs">No Hp: <span class="text-dark ms-sm-2 font-weight-bold">0877235476</span></span>
                  <span class="mb-2 text-xs"
                    >Alamat User: <span class="text-dark ms-sm-2 font-weight-bold">Jl satu dua tiga no 8 coblong</span></span
                  >
                  <span class="text-xs"
                    >Hostel yang dimiliki: <span class="text-dark ms-sm-2 font-weight-bold">3</span></span
                  >
                </div>

                <div>
                  <h6 class="mb-3 text-sm text-start font-weight-bold">Aksi Pengguna</h6>
                  <div class="d-flex align-items-center card-body pt-4 p-0">
                    <div class="">
                      <p class="py-2 px-3 rounded bg-gradient-success text-white mb-0">Aktif</p>
                    </div>
                    <div class="ms-auto text-end">
                      <input type="hidden" name="_method" value="DELETE" />
                      <button
                        type="button"
                        class="btn btn-link text-danger text-gradient px-3 mb-0"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                      >
                        <i class="far fa-trash-alt me-2"></i>Hapus
                      </button>

                      <form class="d-inline" method="POST" action="/users/<%= data.userSlug %>?_method=DELETE">
                        <!-- Modal -->
                        <div
                          style="z-index: 2000"
                          class="modal fade"
                          id="staticBackdrop"
                          data-bs-backdrop="static"
                          data-bs-keyboard="false"
                          tabindex="-1"
                          aria-labelledby="staticBackdropLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">
                                  Apakah anda yakin ingin menghapus user ini?
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                Jika anda menghapus user ini semua data yang berelasi dengan user ini akan terhapus dan tidak
                                bisa dikembalikan lagi, kecuali anda menambahkan ulang data tersebut!
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-danger">Hapus</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>

                      <a class="btn btn-link text-dark px-3 mb-0" href="/users/<%= data.userSlug %>/edit"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex flex-column p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
              <h6 class="mb-3 text-sm font-weight-bold">List Hostel</h6>
              <ul class="list-group">
                <li
                  class="list-group-item bg-gray-100 border-0 d-flex justify-content-between flex-column flex-md-row ps-0 mb-2 border-radius-lg"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div>
                      <h6 class="mb-1 text-dark text-sm">Hostel 1</h6>
                      <p class="text-xs text-secondary mb-0">Jl Garuda no 12 dan 13</p>
                    </div>
                  </div>
                  <div>
                    <div class="ms-auto">
                      <button
                        type="button"
                        class="btn btn-link text-danger text-gradient px-3 mb-0"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                      >
                        <i class="far fa-trash-alt me-2"></i>Hapus
                      </button>
                      <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item bg-gray-100 border-0 d-flex justify-content-between flex-column flex-md-row ps-0 mb-2 border-radius-lg"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div>
                      <h6 class="mb-1 text-dark text-sm">Hostel 2</h6>
                      <p class="text-xs text-secondary mb-0">Jl Garuda no 12 dan 13</p>
                    </div>
                  </div>
                  <div>
                    <div class="ms-auto">
                      <button
                        type="button"
                        class="btn btn-link text-danger text-gradient px-3 mb-0"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                      >
                        <i class="far fa-trash-alt me-2"></i>Hapus
                      </button>
                      <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item bg-gray-100 border-0 d-flex justify-content-between flex-column flex-md-row ps-0 mb-2 border-radius-lg"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div>
                      <h6 class="mb-1 text-dark text-sm">Hostel 3</h6>
                      <p class="text-xs text-secondary mb-0">Jl Garuda no 12 dan 13</p>
                    </div>
                  </div>
                  <div>
                    <div class="ms-auto">
                      <button
                        type="button"
                        class="btn btn-link text-danger text-gradient px-3 mb-0"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop2"
                      >
                        <i class="far fa-trash-alt me-2"></i>Hapus
                      </button>
                      <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
              <form class="d-inline" method="POST" action="/hostels/<%= data.hostelSlug %>?_method=DELETE">
                <!-- Modal -->
                <div
                  style="z-index: 2000"
                  class="modal fade"
                  id="staticBackdrop2"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Apakah anda yakin ingin menghapus hostel ini?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body text-start">
                        Ingat! data yang sudah dihapus tidak bisa dikembalikan semula lagi, kecuali anda menambahkan ulang
                        data tersebut!
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-danger">Hapus</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
