<!-- List -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0 font-weight-bold">Burhanudin Abdul</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            <li class="list-group-item border-0 p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex justify-content-between flex-md-row flex-column">
                <div class="d-flex flex-column">
                  <h6 class="mb-3 text-sm font-weight-bold">Tentang</h6>
                  <span class="mb-2 text-xs"
                    >Nama User: <span class="text-dark font-weight-bold ms-sm-2">Burhanudin Abdul</span></span
                  >
                  <span class="mb-2 text-xs"
                    >Email Address: <span class="text-dark ms-sm-2 font-weight-bold">oliver@burrito.com</span></span
                  >
                  <span class="mb-2 text-xs">No Hp: <span class="text-dark ms-sm-2 font-weight-bold">0877235476</span></span>
                  <span class="text-xs"
                    >Hostel yang dimiliki: <span class="text-dark ms-sm-2 font-weight-bold">3</span></span
                  >
                </div>

                <div>
                  <h6 class="mb-3 text-sm text-start font-weight-bold">Aksi Pengguna</h6>
                  <div class="d-flex align-items-center card-body pt-4 p-0">
                    <div class="">
                      <p class="py-2 px-3 rounded bg-gradient-success text-white mb-0">Aktif</p>
                    </div>
                    <div class="ms-auto text-end">
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
                        ><i class="far fa-trash-alt me-2"></i>Hapus</a
                      >
                      <a class="btn btn-link text-dark px-3 mb-0" href="/users/edit"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item border-0 d-flex flex-column p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
              <h6 class="mb-3 text-sm font-weight-bold">List Hostel</h6>
              <ul class="list-group">
                <li
                  class="list-group-item bg-gray-100 border-0 d-flex justify-content-between flex-column flex-md-row ps-0 mb-2 border-radius-lg"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div>
                      <h6 class="mb-1 text-dark text-sm">Hostel 1</h6>
                      <p class="text-xs text-secondary mb-0">Jl Garuda no 12 dan 13</p>
                    </div>
                  </div>
                  <div>
                    <div class="ms-auto">
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
                        ><i class="far fa-trash-alt me-2"></i>Hapus</a
                      >
                      <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item bg-gray-100 border-0 d-flex justify-content-between flex-column flex-md-row ps-0 mb-2 border-radius-lg"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div>
                      <h6 class="mb-1 text-dark text-sm">Hostel 2</h6>
                      <p class="text-xs text-secondary mb-0">Jl Garuda no 12 dan 13</p>
                    </div>
                  </div>
                  <div>
                    <div class="ms-auto">
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
                        ><i class="far fa-trash-alt me-2"></i>Hapus</a
                      >
                      <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item bg-gray-100 border-0 d-flex justify-content-between flex-column flex-md-row ps-0 mb-2 border-radius-lg"
                >
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div>
                      <h6 class="mb-1 text-dark text-sm">Hostel 3</h6>
                      <p class="text-xs text-secondary mb-0">Jl Garuda no 12 dan 13</p>
                    </div>
                  </div>
                  <div>
                    <div class="ms-auto">
                      <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
                        ><i class="far fa-trash-alt me-2"></i>Hapus</a
                      >
                      <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
                        ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
