<!-- List -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-7 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0 font-weight-bold">Nama Hostel bla bla bla</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm font-weight-bold">Tentang</h6>
                <span class="mb-2 text-xs"
                  >Nama Pemilik: <span class="text-dark font-weight-bold ms-sm-2">Burhanudin abdul</span></span
                >
                <span class="mb-2 text-xs"
                  >Nama Hostel: <span class="text-dark font-weight-bold ms-sm-2">Burhanudin abdul Hostel</span></span
                >
                <span class="mb-2 text-xs"
                  >Alamat Hostel: <span class="text-dark ms-sm-2 font-weight-bold">Jl Otista no 28 A</span></span
                >
                <span class="mb-2 text-xs"
                  >Harga Hostel: <span class="text-dark ms-sm-2 font-weight-bold"> 500000/bulan</span></span
                >
                <span class="text-xs"
                  >Kontak Pemilik: <span class="text-dark ms-sm-2 font-weight-bold">0877235476</span></span
                >
              </div>
            </li>
            <li class="list-group-item border-0 d-flex flex-column p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
              <h6 class="mb-3 text-sm font-weight-bold">Fasilitas Hostel</h6>
              <ul class="list-group">
                <li class="list-group-item bg-gray-100 border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-bed"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Kamar</h6>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">50</div>
                </li>
                <li class="list-group-item bg-gray-100 border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Dapur</h6>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">1</div>
                </li>
                <li class="list-group-item bg-gray-100 border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-wifi"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Wifi</h6>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">10</div>
                </li>
                <li class="list-group-item bg-gray-100 border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                    <div
                      class="border border-1 p-2 rounded-circle mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"
                    >
                      <i class="fas fa-tshirt"></i>
                    </div>
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">Free Parking</h6>
                    </div>
                  </div>
                  <div class="d-flex align-items-center text-dark text-sm font-weight-bold">1</div>
                </li>
              </ul>
            </li>
            <li class="list-group-item bg-gray-100 border-0 d-flex p-4 mb-2 mt-3 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm font-weight-bold">Deskripsi</h6>
                <span class="mb-2 text-xs"
                  >Company Name Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo asperiores, distinctio
                  reiciendis et sint voluptas a quasi in veniam adipisci, explicabo deserunt possimus aspernatur fugit
                  ducimus praesentium quis. Nulla, doloremque.</span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-4">
      <div class="card mb-4">
        <div class="card-header pb-0 px-3">
          <div class="row">
            <div class="col-md-6">
              <h6 class="mb-0">Nama Hostel bla bla bla</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
              <i class="far fa-calendar-alt me-2"></i>
              <small>23 - 30 March 2020</small>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center card-body pt-4 p-3">
          <div class="">
            <p class="py-2 px-3 rounded bg-gradient-success text-white mb-0">Tersedia</p>
          </div>
          <div class="ms-auto text-end">
            <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"
              ><i class="far fa-trash-alt me-2"></i>Delete</a
            >
            <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"
              ><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
