<!-- List -->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header mb-4 pb-2 d-flex align-items-center justify-content-between">
          <div>
            <h6>List Hostel</h6>
          </div>
        </div>
        <div class="card-body px-3 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table id="tableData" class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nama Hostel</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Alamat Hostel</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                </tr>
              </thead>
              <tbody>
                <% data.hostels.map((hostel) => { %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= hostel.name %></h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      <%= hostel.villageName && hostel.districtName ? `${util.toCapitalizeEachWord(hostel.villageName ||
                      '')}, ${util.toCapitalizeEachWord(hostel.districtName || '')}` : '-' %>
                    </p>
                    <p class="text-xs text-secondary mb-0">
                      <%= hostel.cityName && hostel.provinceName ? `${util.toCapitalizeEachWord(hostel.cityName || '')},
                      ${util.toCapitalizeEachWord(hostel.provinceName || '')}` : '-' %>
                    </p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">Tersedia</span>
                  </td>
                  <td class="align-middle text-center">
                    <a
                      href="/hostels/<%= hostel.slug %>"
                      class="text-secondary font-weight-bold text-xs"
                      data-toggle="tooltip"
                      data-original-title="Edit user"
                    >
                      Detail
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
