<footer class="footerr">
  <div class="copyright text-sm text-muted py-5">
    ©
    <script>
      document.write(new Date().getFullYear());
    </script>
    , made with <i class="fa fa-heart"></i> by
    <span class="font-weight-bold">Creative Tim</span>
    for a better web.
  </div>
</footer>
