<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/custom/style.css" />

    <title>
        Akosta<%= typeof props.title === 'string' && props.title.trim().length > 0 ? ` | ${props.title}` : ''; %>
    </title>
</head>
<body>

<% if(page.includes('login')) { %>
    <!-- Render Login Page-->
    <%- include(`pages/${page}`); %>
<% } %>

<!-- Custom JavaScript -->
<script src="/scripts/custom/script.js"></script>

</body>
</html>
