html,
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.footerr {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .table-responsive {
    overflow-x: hidden;
  }
}
